body {
  padding-left: 60px;
  padding-right: 60px;
  font-family: 'poppins';
}

.p {
  font-size: 14px;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-nav {
  color: black;
  font-size: medium;
}

.nav-link {
  color: #000000;
}

.gallery {
  margin-left: 4px;
  height: 160px;
  width: auto;
}



.logo {
  margin-right: 30px;
  position: relative;
}



.carousel-item  {
  height: 460px;
  margin-left: 40px;
  width: auto;

}


.icon-related {
  margin-top: 6px;
  margin-left: 165px;
}

.icon-nav {
  margin: 15px;
}

.btnicon {
  border: #00000050 2px solid;
  width: 20%;
  height: 40px;
  padding-top: 5px;
  align-items: center;
  font-size: large;
  align-items: center;
  text-align: center;
  
}

.icon {
  display: inline-block;
  width: auto;
}

.keranjang {
  margin-left: 130px;
  background-color:#EF5820;
  border: #EF5820;
  border-radius: 50%;
  position: absolute;
  font-size: 10px;
  height: 15px;
  width: 15px;
  color: white;
  text-align: center;
  margin-top: -3.2%;
}

#wishlistNavbar {
  margin-left: 187px;
  background-color:#EF5820;
  border: #EF5820;
  border-radius: 50%;
  position: absolute;
  font-size: 10px;
  height: 15px;
  width: 15px;
  color: white;
  margin-top: -3.2%;
}

#btnWishList.clicked ion-icon {
  color: #ff002b;
}

.btn-keranjang {
  background-color: #6366F1;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  height: 40px;
  margin-left: 20px;
  padding-top: 6px;
}

.btn-keranjang:hover {
  background-color: #0056b3;
}

.btn-wishlist {
  margin-left: 20px;
  background-color: white;
  border-color: #00000050;
  align-items: center;
  width: 10%;
}

.btn-bagikan {
  margin-left: 20px;
  background-color: white;
  border-color: #00000050;
  width: 10%;
}

.deskripsi {
  font-size: larger;
}
.underline { 
  border-bottom: 2px solid black;
  padding-bottom: 14px;
}

.information1 {
  font-style: medium;
  padding-left: 17px;
}

.information1 h6 {
  position: absolute;
}

.p isi1 {
  float: left;
  margin-top: 40px;
}

.information2 {
  font-style: medium;
  position: relative;
}

.information2 h6 {
  position: absolute;
}

.p isi2 {
  float: left;
  width: 200px;
  height: 20px;
}

.information3 {
  font-style: medium;
  position: relative;
  top: -80px;
  left: 55%;
}

.information3 h6 {
  position: absolute;
}

.p isi3 {
  float: right;
  width: 200px;
  height: 20px;
}


.deskripsi {
  display: flex;
  justify-content: space-around;
}

.deskripsi ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.deskripsi li {
  margin: 0 20px;
  font-size: 14px;
  cursor: pointer;
}

.text-decoration-underline {
  margin-top: 15px;
  text-decoration: underline;
}

.spacer {
  height: 100px;
}

.spacer {
  height: 50px;
}
.container-card {
  white-space: nowrap; 
  width: 100%; 
  margin: auto; 

}

.slider-row {
  display: flex;
  transition: transform 0.5s ease;
  padding-left: 15px;
  padding-right: 15px;
}

.col-md-3 {
  display: inline-block; 
  width: 25%;
  white-space: normal; 
}

.slider img {
  width: 100%; 
  height: auto;
}



.btn-circlea {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  color: #000000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  right: -20%;
  position: absolute;
  padding-top: 5px;
  padding-left: 4px;
}

.btn-circleb {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  color: #000000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  right: 50%;
  padding-top: 5px;
  padding-left: 4px;
}

.btn-expand {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  color: #000000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  padding-top: 5px;
  padding-left: 5px;
  right: 7.5%;
  top: 85%;
  transform: translateY(-50%);
}

.btn-circle1 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  color: #000000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  left: 4.5%;
  top: 270%;
  position: absolute;
  padding-top: 5px;
  padding-left: 4px;
}

.btn-circle1 img {
  width: 20px;
  height: auto;
  margin-right: 15px;
}
.prev-btn, .next-btn {
  background-color: transparent;
  border: transparent;
}
.btn-circle2 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  color: #000000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  float: right;
  position: absolute;
  right: 4.5%;
  top: 270%;
  padding-top: 5px;
  padding-left: 4px;
}
.tagrelated {
  padding-left: 15px;
  padding-right: 15px;
}



.sidepanel {
  height: 450px;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(230, 227, 227);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  border: 3px solid #f1f1f1;
}

.sidepanel a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  color: #000000;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.bag {
  margin-bottom: 5px;
}

.openbtn {
  cursor: pointer;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  margin-bottom: 10px;
}

.sidepanel h4 {
  text-align: center;
}

.openbtn:hover {
  color: #444;
}

.btn-checkout {
  position: absolute;
  top: 70%;
  background-color: green;
  border: green;
  color: white;
  text-align: center;
}

.form-popup {
  font-size: small;
  display: none;
  position: fixed;
  margin: 5px;
  left: 25%;
  top: 0;
  justify-content: center;
  border: 3px solid #f1f1f1;
  z-index: 1;
}

.form-container {
  max-width: 500px;
  padding: 10px;
  background-color: white;
  height: 500px;
  margin-left: 5px;
  margin-top: 3px;
}

.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  border: none;
  background: #f1f1f1;
  height: 30px;
}

.form-container .btn {
  background-color: #6366F1;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
  margin-top: 5px;
}

.form-container .beli {
  background-color: green;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
@media screen and (max-width: 1000px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }

  .gallery {
    height: 300px;
  }

  #demo {
    right: 30px;
    width: 350px;
  }

  .icn {
    padding-left: 80px;
  }

  .icon-related {
    margin-left: 80px;
  }

  .icon-nav {
    margin: 10px;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }

  .icon-nav li {
    margin: 0 5px;
  }

  .btnicon {
    width: 30%;
  }

  .keranjang, #wishlistNavbar {
    margin-left: 80px;
  }

  .btn-keranjang {
    width: 150px;
  }

  .btn-wishlist, .btn-bagikan {
    width: 50px;
  }

  .information1, .information2, .information3 {
    font-size: small;
  }

  .information1 h6, .information2 h6, .information3 h6 {
    font-size: small;
  }

  .p isi1, .p isi2, .p isi3 {
    font-size: small;
  }

  .deskripsi li {
    font-size: small;
  }

  .btn-circlea {
    left: 35px;
    position: absolute;
  }

  .btn-circlea, .btn-circleb, .btn-expand, .btn-circle1, .btn-circle2 {
    padding-bottom: 5px;
    padding-right: 4px;
  }

  .btn-circle1 img, .btn-circle2 img {
    width: 15px;
    height: auto;
    margin-right: 10px;
  }

  .next-btn, .prev-btn {
    position: absolute;
    color: transparent;
  }

  .next-btn {
    right: 0%;
    top: 245%;
  }

  .prev-btn {
    left: 0%;
    top: 245%;
  }

  .span {
    width: 100%;
  }

  .col-md-3 {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .information3 {
    left: 0;
    float: left;
    text-align: left;
    position: relative;
    top: 0;
    justify-content: left;
  }

  .sidepanel {
    width: 200px;
  }

  .sidepanel a {
    font-size: 18px;
  }

  .sidepanel .closebtn {
    font-size: 30px;
  }

  .form-popup {
    width: 300px;
    left: 15%;
  }

  .form-container {
    width: 300px;
  }

  .form-container input[type=text] {
    height: 25px;
  }

  .form-container .btn {
    height: 35px;
  }
}

@media screen and (max-width: 700px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }

  .gallery {
    height: 300px;
  }
  #demo {
    right: 10px;
    width: 350px;
  }


  .icn {
    padding-left: 80px;
  }

  .icon-related {
    margin-left: 80px;
  }

  .icon-nav {
    margin: 10px;

  }

  .btnicon {
    width: 30%;
  }

  .keranjang, #wishlistNavbar {
    margin-left: 80px;
  }

  .btn-keranjang {
    width: 150px;
  }

  .btn-wishlist, .btn-bagikan {
    width: 50px;
  }

  .information1, .information2, .information3 {
    font-size: small;
  }

  .information1 h6, .information2 h6, .information3 h6 {
    font-size: small;
  }

  .p isi1, .p isi2, .p isi3 {
    font-size: small;
  }

  .deskripsi li {
    font-size: small;
  }
  .btn-circlea {
    left: 35px;
    position: absolute;
  }

  .btn-circlea, .btn-circleb, .btn-expand, .btn-circle1, .btn-circle2 {
    padding-bottom: 5px;
    padding-right: 4px;
     
  }

  .btn-circle1 img, .btn-circle2 img {
    width: 15px;
    height: auto;
    margin-right: 10px;
  }
  .next-btn, .prev-btn {
      position: absolute;
      color: transparent;
    }
  .next-btn {
    right: 0%;
    top: 245%;
  }
  .prev-btn {
    left: 0%;
    top: 245%;
  }
   .icon-related {
    margin-left: 15px;
   }

  .span {
    width: 100%;
  }
  .col-md-3 {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .information3 {
    left: 0;
    float: left;
    text-align: left; 
    position: relative;
    top: 0;
    justify-content: left;
  }

  .sidepanel {
    width: 200px;
  }

  .sidepanel a {
    font-size: 18px;
  }

  .sidepanel .closebtn {
    font-size: 30px;
  }

  
  .form-popup {
    width: 300px;
    left: 15%;
  }

  .form-container {
    width: 300px;
  }

  .form-container input[type=text] {
    height: 25px;
  }

  .form-container .btn {
    height: 35px;
  }
}


@media screen and (max-width: 479px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }

  .gallery-img {
    height: 100px;
  }

  .carousel-img {
    height: 394px;
    padding-left: 50px;
  }

  .icn {
    padding-left: 40px;
  }

  .icon-related {
    margin-left: 40px;
  }

  .icon-nav {
    margin: 5px;
  }

  .btnicon {
    width: 40%;
  }
  .icon {
    margin-right: 13px;
  }
  .keranjang {
    top: 59%;
  }

  #wishlistNavbar {
    margin-left: 113px;
    top: 59%;
  }
  .btn-circlea {
    margin-bottom: 65px;
    margin-left: 65px;
    
  }
  .btn-circleb {
    margin-bottom: 65px;
    margin-right: -15px;
    
  }
  
  .btn-circlea img, .btn-circleb img{
    padding-bottom: 4px;
  }

  .btn-keranjang {
    width: 120px;
  }
  
  .btn-keranjang p{
    font-size: 11.5px;
    padding-bottom: 2px;
  }

  .btn-wishlist, .btn-bagikan {
    width: 40px;
  }

  .information1, .information2, .information3 {
    font-size: x-small;
  }
  .information1 {
    margin-top: 20px;
  }
  .information2 {
    margin-bottom: 280px;
  }

  .information3 {
    left: 0;
    top: -130px;
  }

  .information1 h6, .information2 h6, .information3 h6 {
    font-size: x-small;
  }

  .p isi1, .p isi2, .p isi3 {
    font-size: x-small;
  }

  .deskripsi li {
    font-size: x-small;
  }

  .btn-circlea, .btn-circleb, .btn-expand, .btn-circle1, .btn-circle2 {
    width: 30px;
    height: 30px;
    font-size: x-small;
  }

  .btn-expand {
    top: 75%;
    margin-right: 2px;
  }

  .btn-circle1 img, .btn-circle2 img {
    width: 12px;
    height: auto;
    margin-right: 5px;
  }

  .sidepanel { 
    width: 150px;
  }

  .sidepanel a {
    font-size: 16px;
  }

  .sidepanel .closebtn {
    font-size: 25px;
  }

  .form-popup {
    width: 250px;
    left: 10%;
  }

  .form-container {
    width: 250px;
  }

  .form-container input[type=text] {
    height: 20px;
  }

  .form-container .btn {
    height: 30px;
  }
}